if SHIELD_TYPEGLIDE_LEFT || SHIELD_TYPEGLIDE_RIGHT

config ZMK_KEYBOARD_NAME
    default "TypeGlide"

config ZMK_SPLIT
    default y

if SHIELD_TYPEGLIDE_LEFT
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif # SHIELD_TYPEGLIDE_LEFT

endif # SHIELD_TYPEGLIDE_LEFT || SHIELD_TYPEGLIDE_RIGHT
