
#include "typeglide.dtsi"
#include "joystick.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <input/processors/rotate_plane.dtsi>


/*
 * Left half
 *
 * col 0 = ring (outermost)
 * col 1 = middle
 * col 2 = index (innermost)
 *
 * row 3 col 0 = pinky
 * row 3 col 2 = thumb
 * row 3 col 1 = spare
 */

 / {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "row2col";

        row-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>
            ;

        col-gpios
            = <&pro_micro 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};


/*
 * Rotate the pointing device for the left half.
 */

&zip_rotate_pointer {
    angle = <180>;
};


/*
 * Split pointing input.
 *
 * This is the PMW3610 coming from the right half.
 */

&m_split_listener {
    status = "okay";
    input-processors = <&zip_rotate_pointer>;
};


/ {
    rotated_pointer_plane {
        compatible = "zmk,input-listener";
        device = <&zip_rotate_pointer>;
    };
};

/ {
    joystick_4way_left: joystick_4way_left {
        compatible = "typeglide,joystick-4way";
        #input-processor-cells = <0>;

        status = "okay";

        threshold = <10>;
        rotation-deg = <0>;
        hysteresis-deg = <10>;

        layer-count = <1>;

        bindings = <
            &kp UP
            &kp DOWN
            &kp LEFT
            &kp RIGHT
        >;
    };

    joystick_4way_right: joystick_4way_right {
        compatible = "typeglide,joystick-4way";
        #input-processor-cells = <0>;

        status = "okay";

        threshold = <10>;
        rotation-deg = <0>;
        hysteresis-deg = <10>;

        layer-count = <1>;

        bindings = <
            &kp UP
            &kp DOWN
            &kp LEFT
            &kp RIGHT
        >;
    };
};

/ {
    joystick_left_listener {
        compatible = "zmk,input-listener";
        device = <&analog_joystick>;
        input-processors = <&joystick_4way_left>;
    };
};

/ {
    joystick_right_listener {
        compatible = "zmk,input-listener";
        device = <&right_joystick_split>;
        input-processors = <&joystick_4way_right>;
    };
};

&right_joystick_split {
    status = "okay";
    /delete-property/ device;
};











/*
 * Local joystick.
 *
 * The left half is central, so its joystick is processed locally.
 *
 * &joystick is ONE analog input device containing:
 *
 *     INPUT_ABS_X
 *     INPUT_ABS_Y
 *
 * The Typeglide processor keeps the X/Y state and converts it
 * into one of:
 *
 *     RIGHT
 *     LEFT
 *     DOWN
 *     UP
 */

/*

 / {
     joystick_4way_left: joystick_4way_left {
        compatible = "typeglide,joystick-4way";

        #input-processor-cells = <0>;

//status = "disabled";

        threshold = <20>;

        layer-count = <2>;

        // DOWN UP FWD BACK
        bindings = <
            // Layer 0: navigation
            &kp DOWN
            &kp UP
            &kp RIGHT
            &kp LEFT

            //* Layer 1: WASD
            &kp W
            &kp S
            &kp A
            &kp D
        >;
    };

    joystick_4way_right: joystick_4way_right {
        compatible = "typeglide,joystick-4way";

        #input-processor-cells = <0>;

//status = "disabled";

        threshold = <20>;

        layer-count = <2>;

        // DOWN UP FWD BACK
        bindings = <
            // Layer 0: navigation
            &kp DOWN
            &kp UP
            &kp RIGHT
            &kp LEFT

            // Layer 1: WASD
            &kp W
            &kp S
            &kp A
            &kp D
        >;
    };
};

 / {
    joystick_listener {
        compatible = "zmk,input-listener";
        device = <&joystick>;
        input-processors = <&joystick_4way_left>;
    };
};

*/


/*
 * Right-half joystick split transport.
 *
 * The right peripheral sends the COMPLETE joystick device
 * (both X and Y events) through one input-split device.
 *
 * reg 0 = PMW3610
 * reg 1 = joystick
 */


/*
 / {




    right_joystick_listener {
         compatible = "zmk,input-listener";
         device = <&right_joystick_split>;
        input-processors = <&joystick_4way_right>;
    };

};
*/
