#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/caps_word.dtsi>
#include <keymap_defs.dtsi>


#define RALTKEY(name, key)                                      \
    name: name {                                                \
        compatible = "zmk,behavior-macro";                     \
        #binding-cells = <0>;                                  \
        bindings =                                               \
            <&macro_press &kp RALT>,                            \
            <&macro_tap &kp key>,                              \
            <&macro_release &kp RALT>;                         \
    };


#define COMBO(name, pos0, pos1, behavior, ...) \
    name { \
        timeout-ms = <50>; \
        key-positions = <pos0 pos1>; \
        layers = <__VA_ARGS__>; \
        bindings = <behavior>; \
    };

#define COMBO3(name, pos0, pos1, pos2, t, behavior, ...) \
    name { \
        timeout-ms = <t>; \
        key-positions = <pos0 pos1 pos2>; \
        layers = <__VA_ARGS__>; \
        bindings = <behavior>; \
    };

#define HOLD_TAP(name, flavor_, tap_term, bind0, bind1) \
    name: name { \
        compatible = "zmk,behavior-hold-tap"; \
        #binding-cells = <2>; \
        flavor = flavor_; \
        tapping-term-ms = <tap_term>; \
        bindings = bind0, bind1; \
    };

#define TAP_DANCE2_MO_SL_SL(name, l0, l1, l2) \
    name: name { \
        compatible = "zmk,behavior-tap-dance"; \
        #binding-cells = <0>; \
        tapping-term-ms = <200>; \
        bindings = <&HT_MO_SL_BAL l0 l1>, \
                   <&sl l2>; \
    };

#define TAP_DANCE2_MO_KP_REPEAT(name, layer, key) \
    name: name { \
        compatible = "zmk,behavior-tap-dance"; \
        #binding-cells = <0>; \
        tapping-term-ms = <200>; \
        bindings = <&HT_MO_KP_BAL layer key>, \
                   <&key_repeat>; \
    };

/ {

 //          SIDE:L(left)/R(right)
 //          ROW:T(top)/M(middle)/B(bottom)/M(mouse)
 //          FINGER:P(pinky)/R(ring)/M(middle)/I(index)/T(Thumb)
 //          LOCATION:S(switch)/J(Joystick)
 //
 //          FINGER POS: SIDE-ROW-FINGER
 //          THUMB POS:  SIDE-LOCATION-FINGER
 //
 //          bindings = <
 //               LTR    LTM    LTI                            RTI    RTM   RTR
 //               LMR    LMM    LMI                            RMI    RMM   RMR
 //          LBP  LBR    LBM    LBI                            RBI    RBM   RBR   RBP
 //                             LST      LJT         RJT       RST



    behaviors {

        TPHLS: TPHLS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sl>;
        };



        HOLD_TAP(HT_KP_KP_BAL, "balanced", 200, <&kp>, <&kp>)
        HOLD_TAP(HT_MO_SL_BAL, "balanced", 200, <&mo>, <&sl>)
        HOLD_TAP(HT_MO_KP_BAL, "balanced", 200, <&mo>, <&kp>)

        TAP_DANCE2_MO_SL_SL(TD2_MO_SL_SL_SYM_A1_A0_SHIFTED, SYM_L, A1_L, A0_SHIFTED_L)
        TAP_DANCE2_MO_KP_REPEAT(TD2_MO_KP_REPEAT_SYM_SPACE, SYM_L, SPACE)

        tg_caps_word_or_scroll: tg_caps_word_or_scroll {
            compatible = "typeglide,caps-word-or-scroll";
            #binding-cells = <0>;

            bindings = <&msc SCRL_RIGHT>, <&caps_word>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
            timeout-ms = <300>;
        };
    };



    macros {
        RALTKEY(swe_aa, W)
        RALTKEY(swe_ae, A)
        RALTKEY(swe_oe, O)
        RALTKEY(swe_LS_aa, LS(W))
        RALTKEY(swe_LS_ae, LS(A))
        RALTKEY(swe_LS_oe, LS(O))
    };

    combos {
        compatible = "zmk,combos";

        COMBO(_backspace, RMM, RMR, &kp BACKSPACE, A0_L)

        COMBO3(_bootloader_left, LTM, LBR, LBI, 100, &tog SYS_L, ALL_L)

    };

    keymap {
        compatible = "zmk,keymap";


// ------------------------------------------LEFT-------------------------------------------------------<>-----------------------------------------------RIGHT-----------------------------------------------------------------
// Pinky                    Ring                        Middle                      Index               <>      Index                       Middle                      Ring                        Pinky
//------------------------------------------------------------------------------------------------------<>----------------------------------------------------------------------------------------------------------------------
        // 0
        A0_layer {
            bindings = <
                            &kp L                       &kp D                       &kp G                       &kp F                       &kp O                       &kp U
                            &kp R                       &kp T                       &kp S                       &kp H                       &kp A                       &kp E
&kp N                       &kp W                       &kp M                       &kp C                       &kp P                       &kp COMMA                   &kp DOT                     &lt MO_L I
                                                        &TD2_MO_KP_REPEAT_SYM_SPACE &none                       &none                       &TD2_MO_SL_SL_SYM_A1_A0_SHIFTED
            >;
        };

        // 1
        A1_layer {
            bindings = <
                            &none                       &kp Q                       &kp X                       &swe_aa                     &swe_ae                     &swe_oe
                            &kp J                       &kp B                       &kp Y                       &kp V                       &kp K                       &kp DQT
&kp Z                       &none                       &none                       &none                       &kp MINUS                   &kp COLON                   &kp UNDER                   &kp SEMI
                                                        &none                       &none                       &none                       &none
            >;
        };

        // 2
        SC_layer {
            bindings = <
                &none &none &kp N4       &none &none &none
                &none &none &none        &none &none &none
          &none &none &none &none        &none &none &none &none
                      &none &none        &none &none
            >;
        };

        // 3
        A0_SHIFTED_layer {
            bindings = <
                            &kp LS(L)                   &kp LS(D)                   &kp LS(G)                   &kp LS(F)                   &kp LS(O)                   &kp LS(U)
                            &kp LS(R)                   &kp LS(T)                   &kp LS(S)                   &kp LS(H)                   &kp LS(A)                   &kp LS(E)
&kp LS(N)                   &kp LS(W)                   &kp LS(M)                   &kp LS(C)                   &kp LS(P)                   &kp COMMA                   &kp DOT                     &kp LS(I)
                                                        &none                       &none                       &none                       &none
            >;
        };

        // 4
        A1_SHIFTED_layer {
            bindings = <
                            &none                       &kp LS(Q)                   &kp LS(X)                   &swe_LS_aa                  &swe_LS_ae                  &swe_LS_oe
                            &kp LS(J)                   &kp LS(B)                   &kp LS(Y)                   &kp LS(V)                   &kp LS(K)                   &kp DQT
&kp Z                       &none                       &none                       &none                       &kp MINUS                   &kp COLON                   &kp UNDER                   &kp SEMI
                                                        &none                       &none                       &none                       &none
            >;
        };

        // 5
        SYM_layer {
            bindings = <
                            &kp Q                       &kp D                       &kp G                       &kp F                       &kp O                       &kp U
                            &kp R                       &kp T                       &kp S                       &kp H                       &kp A                       &kp E
&kp N                       &kp W                       &kp M                       &kp C                       &kp P                       &kp COMMA                   &kp DOT                     &lt MO_L I
                                                        &none                       &none                       &none                       &none
            >;
        };

        // 6
        NUM_layer {
            bindings = <
                            &kp Q                       &kp D                       &kp G                       &kp F                       &kp O                       &kp U
                            &kp R                       &kp T                       &kp S                       &kp H                       &kp A                       &kp E
&kp N                       &kp W                       &kp M                       &kp C                       &kp P                       &kp COMMA                   &kp DOT                     &lt MO_L I
                                                        &none                       &none                       &none                       &none
            >;
        };


        // 7
        MO_layer {
            bindings = <
                            &none                       &kp N7                      &none                       &none                       &none                       &none
                            &none                       &none                       &none                       &mkp LCLK                   &mkp RCLK                   &mo MO_SNIPE_L
&none                       &none                       &none                       &none                       &none                       &none                       &none                      &none
                                                        &none                       &none                       &none                       &none
            >;
        };


        // 8
        MO_SNIPE_layer {
            bindings = <
                            &none                       &kp N8                      &none                       &none                       &none                       &none
                            &none                       &none                       &none                       &mkp LCLK                   &mkp RCLK                   &none
&none                       &none                       &none                       &none                       &none                       &none                       &none                       &mo MO_L
                                                        &none                       &none                       &none                       &none
            >;
        };


        // 9
        SYS_layer {
            bindings = <
                            &bootloader                 &none                       &none                       &none                       &none                       &bootloader
                            &sys_reset                  &none                       &none                       &none                       &none                       &sys_reset
&none                       &none                       &none                       &none                       &none                       &none                       &none                       &mo MO_L
                                                        &none                       &none                       &none                       &none
            >;
        };


    };

};

&caps_word {
    continue-list = <SPACE UNDERSCORE BSPC DEL>;
};
